body{
 background-color: #D21404;
 margin: 0;
 padding: 0;
}
.box{
  height: 76vh;
  background-color: #fff;
  word-wrap: break-word;
  overflow: auto;
  padding :2%;
}
.container{
  margin-left: 24%;
  height: 100%;
  width: 50%;
  background-color: #fff;
  border-radius: 8% 1%;
}
#p{
  color: white;
  background-color: #990f02;
  font-size: 2vw;
  padding: 3%;
  display: block;
  border-radius: 40px 5px;
}
#txt{
  font-size: 1vw;
  width: 84%;
  border-radius: 15px 2px;
  outline: none;
  padding: 2%;
}
.btn{
  color: white;
  width: 8vh;
  height: 8vh;
  background-color: #900d09;
  border: 1px solid #900d09;
  border-radius:50%;
  cursor: pointer;
  outline: none;
}
b{
  color: red;
}
p{
  color: green;
}
#logout{
  border: 1px solid red;
  color: white;
  border-radius: 100%;
  background-color: red;
  float: right;
  margin: 3%;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 10% 1%;
    }
    #txt{
      width: 74%;
      font-size: 4vw;
      padding: 3.9%;
    }
    .box{
      height: 75vh;
      padding: 0;
    }
    .btn{
      position: absolute;
    }
    #p{
      font-size: 5vw;
      padding: 4%;
    }
}
